body {
    color: burlywood;
    background-color: burlywood;
}

/* id's */
#navbar {
    background-color: green;
}

#active {
    font-weight: bold;
    font-size: larger;
}

#titel {
    background-color: green;    
    text-align: center;
    padding: 30px;
}

#cards {
    background-color: green;    
    padding: 10px;    
    margin-top: 10px;    
    margin-bottom: 10px;
}

#footer {    
    background-color: green;
    margin-top: 20px;
}