body {
    color: burlywood;
    background-color: burlywood;
}

/* id's */
#Navbar {
    background-color: green;
}

#Titel {
    background-color: green;    
    text-align: center;
    padding: 30px;
}

#TekstContainer {
    background-color: green;
    color: burlywood;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Footer {
    margin-top: 20px;
    background-color: green;
    color: burlywood;
}