body {
    color: burlywood;
    background-color: burlywood;
}
h1,h2,h3 { 
    text-align: center;
}
ol {
    font-size: larger;
}

/* id's */
#navbarNav {
    font-weight: 600;
}

#active {
    font-weight: bold;
    font-size: larger;
}

#titel {
    background-color: green;    
    text-align: center;
    padding: 30px;
}

#rows {
    padding-top: 50px;
}

#cards {
    background-color: green;
    border-radius: 7px;    
    padding: 10px;    
    margin-top: 10px;    
    margin-bottom: 10px;
}

#tekstDiplomas {
    font-size: larger;
}

#headList {
    background-color: burlywood;
    color: black;
}

#footer {    
    background-color: green;
    padding: 10px;
}